* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #faf9f7;
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 400;
}

.book-btn {
    padding: 10px 20px;
    border: 1px solid #222;
    text-decoration: none;
    color: #222;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.hero-buttons {
    margin-top: 30px;
}

.btn {
    padding: 12px 30px;
    background: #222;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.btn-outline {
    padding: 12px 30px;
    border: 1px solid #222;
    text-decoration: none;
    color: #222;
}

